@CHARSET "UTF-8";

.se_blacklist_tool_remove {
	background-color: white;
	background-position: left bottom;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	height: 14px;
	margin-left: 5px;
	margin-right: 3px;
	opacity: .3;
	width: 14px;
}

div.vsc:hover .se_blacklist_tool_remove {
	opacity: 1;
}
