@CHARSET "UTF-8";

.se_blacklist_tool_remove {
	/* CSS Content scripts require absolute path for now... http://code.google.com/p/chromium/issues/detail?id=39899 */
	background: url('chrome-extension://jiicbcimbjppjbckmoknagndlhjbeohb/google_remove.png') no-repeat left bottom;
	border: none;
	cursor: pointer;
	height: 14px;
	margin-left: 5px;
	margin-right: 3px;
	opacity: .3;
	width: 14px;
}

div.vsc:hover .se_blacklist_tool_remove {
	opacity: 1;
}
